tmp*
./.*.swp
*.o
*.so
*.gz
../output/*
../input/*
../doc/*
../work/*
../old_armadillo/*
build/
.vscode/
.cache/
CMakeUserPresets.json

*.py
input/
local_output/
new_output/
output/
scratch/
scripts/
