tmp*
./.*.swp
*.o
*.so
*.gz
../output/*
../input/*
../doc/*
../work/*
../old_armadillo/*
build/
.vscode/
.cache/
CMakeUserPresets.json
input/
.DS_Store
local_output/
*.py
new_output/
output/
scratch/
scripts/
